.typography{
    font-weight: 300;
    line-height: 1.5;
    font-size: 14px;
  }
  .about-page {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .about-content {
    text-align: center;
  }
  
  .about-paragraph p {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cv-card {
    margin: auto;
  }
  