span.m-4{
    margin:4px;
    margin-top: 0;
}
  .vertical-timeline {
    width: 100%;
  }
  
  .timeline-item {
    margin-bottom: 60px;
  }
  
  .timeline-content {
    padding: 12px;
    border: 1px solid #FcFcFc;
    border-radius: 5px;
    position: relative;
  }
  .timeline-content button {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
  
  .branch {
    margin-left: 12px;
  }
  